header {
  text-align: center;
}

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto
  }

   nav a {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  background-color: gray;
}

figcaption {
  font-size: 10px;
  text-align: center;
}

  #featured-property p {
  text-align: center;
  hard width: 800px;
}

  #details div{
    float: left;
    background-color: red;
    text-align: center;
    width: 25%;

  }
